.div__carro{
    position: relative;
}

.carro {
    background-color: #359A2C;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    display: flex;
    position: relative;
}

