.detalles{
    background-color: #FFF;
    position: absolute;
    margin-top: 10px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 300px;
    right: 0;
}

.detalle__total{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}